@font-face {
  font-family: 'Khmer-CN-Poipet';
  src: url('./fonts/Khmer-CN-Poipet.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kantumruy';
  src: url('./fonts/Kantumruy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kantumruy';
  src: url('./fonts/Kantumruy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
